body {
    font-family: 'Comic Sans MS', 'Chalkboard SE', sans-serif;
    text-align: center;
    background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.hollywoodreporter.com%2Fmovies%2Fmovie-news%2Fhello-kitty-movie-is-works-1192434%2F&psig=AOvVaw25b_Pr1XdIw_R5xaMmfzim&ust=1707713161485000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCNCfmLW9ooQDFQAAAAAdAAAAABAI') no-repeat center center fixed;
    background-size: cover;
    color: #ff69b4;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff69b4;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff3385;
}

.question {
    margin-top: 20px;
}
